.avatar {
  border-radius: 50%;
}

.square {
  border: 1px solid black;
  font-weight: bold;
  width: 34px;
  height: 34px;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
